In [2]:
# === Import Libraries ===
import pandas as pd
import numpy as np

# === Load Data ===
data = {
    'nama': ['Andi', 'Budi', 'Citra', 'Dewa', 'Fajar', 'Gina', 'Hadi', 'Indah', 'Rani', 'Jilan'],
    'alamat': [
        'Jl. Merdeka No. 10', 'Jl. Sudirman No. 5', 'Jl. Thamrin No. 25', 'Jl. Rasuna Said No. 18',
        'Jl. Kuningan No. 12', 'Jl. Cikini No. 7', 'Jl. Pemuda No. 9', 'Jl. Serang No. 8',
        'Jl. Kenari No. 6', 'Jl. Kuningan No. 2'
    ],
    'tinggi': [173, 180, 168, 182, 185, 170, 176, 178, 169, 160]
}

df = pd.DataFrame(data)
print("=== Data Calon TNI ===")
print(df, "\n")

# === Statistik Dasar Tinggi Badan ===
print("=== Statistik Dasar Tinggi Badan ===")
stat = df['tinggi'].describe()
print(stat, "\n")

rata = df['tinggi'].mean()
tertinggi = df['tinggi'].max()
terendah = df['tinggi'].min()
median = df['tinggi'].median()

print(f"Rata-rata tinggi : {rata:.2f} cm")
print(f"Tertinggi        : {tertinggi} cm")
print(f"Terendah         : {terendah} cm")
print(f"Median           : {median:.2f} cm\n")

# === Calon di atas rata-rata tinggi ===
print("=== Calon di atas rata-rata tinggi ===")
df_tinggi = df[df['tinggi'] > rata]
print(df_tinggi, "\n")

# === Urutan dari Tertinggi ke Terendah ===
print("=== Urutan dari Tertinggi ke Terendah ===")
df_sorted = df.sort_values(by='tinggi', ascending=False)
print(df_sorted, "\n")

# === Data dengan Kategori ===
def kategori_tinggi(x):
    if x >= 180:
        return "Tinggi"
    elif x >= 170:
        return "Sedang"
    else:
        return "Pendek"

df['kategori'] = df['tinggi'].apply(kategori_tinggi)
print("=== Data dengan Kategori ===")
print(df, "\n")

# === Jumlah Calon per Kategori ===
print("=== Jumlah Calon per Kategori ===")
print(df['kategori'].value_counts(), "\n")

# === Statistik Lanjutan ===
print("=== Statistik Lanjutan ===")
std = df['tinggi'].std()
var = df['tinggi'].var()
print(f"Standar Deviasi : {std:.2f}")
print(f"Variansi        : {var:.2f}\n")

# === Calon dengan Tinggi Badan Tertinggi ===
print("=== Calon dengan Tinggi Badan Tertinggi ===")
tertinggi_data = df[df['tinggi'] == tertinggi]
print(tertinggi_data)

=== Data Calon TNI ===
    nama                  alamat  tinggi
0   Andi      Jl. Merdeka No. 10     173
1   Budi      Jl. Sudirman No. 5     180
2  Citra      Jl. Thamrin No. 25     168
3   Dewa  Jl. Rasuna Said No. 18     182
4  Fajar     Jl. Kuningan No. 12     185
5   Gina        Jl. Cikini No. 7     170
6   Hadi        Jl. Pemuda No. 9     176
7  Indah        Jl. Serang No. 8     178
8   Rani        Jl. Kenari No. 6     169
9  Jilan      Jl. Kuningan No. 2     160

=== Statistik Dasar Tinggi Badan ===
count     10.000000
mean     174.100000
std        7.563803
min      160.000000
25%      169.250000
50%      174.500000
75%      179.500000
max      185.000000
Name: tinggi, dtype: float64

Rata-rata tinggi : 174.10 cm
Tertinggi        : 185 cm
Terendah         : 160 cm
Median           : 174.50 cm

=== Calon di atas rata-rata tinggi ===
    nama                  alamat  tinggi
1   Budi      Jl. Sudirman No. 5     180
3   Dewa  Jl. Rasuna Said No. 18     182
4  Fajar     Jl. Kuningan No. 12     185
6   Hadi        Jl. Pemuda No. 9     176
7  Indah        Jl. Serang No. 8     178

=== Urutan dari Tertinggi ke Terendah ===
    nama                  alamat  tinggi
4  Fajar     Jl. Kuningan No. 12     185
3   Dewa  Jl. Rasuna Said No. 18     182
1   Budi      Jl. Sudirman No. 5     180
7  Indah        Jl. Serang No. 8     178
6   Hadi        Jl. Pemuda No. 9     176
0   Andi      Jl. Merdeka No. 10     173
5   Gina        Jl. Cikini No. 7     170
8   Rani        Jl. Kenari No. 6     169
2  Citra      Jl. Thamrin No. 25     168
9  Jilan      Jl. Kuningan No. 2     160

=== Data dengan Kategori ===
    nama                  alamat  tinggi kategori
0   Andi      Jl. Merdeka No. 10     173   Sedang
1   Budi      Jl. Sudirman No. 5     180   Tinggi
2  Citra      Jl. Thamrin No. 25     168   Pendek
3   Dewa  Jl. Rasuna Said No. 18     182   Tinggi
4  Fajar     Jl. Kuningan No. 12     185   Tinggi
5   Gina        Jl. Cikini No. 7     170   Sedang
6   Hadi        Jl. Pemuda No. 9     176   Sedang
7  Indah        Jl. Serang No. 8     178   Sedang
8   Rani        Jl. Kenari No. 6     169   Pendek
9  Jilan      Jl. Kuningan No. 2     160   Pendek

=== Jumlah Calon per Kategori ===
kategori
Sedang    4
Tinggi    3
Pendek    3
Name: count, dtype: int64

=== Statistik Lanjutan ===
Standar Deviasi : 7.56
Variansi        : 57.21

=== Calon dengan Tinggi Badan Tertinggi ===
    nama               alamat  tinggi kategori
4  Fajar  Jl. Kuningan No. 12     185   Tinggi